@page
@model SuccessModel
@{
    ViewData["Title"] = "Оформление заказа";
}

<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<div class="container">
    <h1>Спасибо за покупку!</h1>

    <a asp-page="/Index">Продолжить покупки...</a>
</div>