@model ShowRecoveryCodesViewModel
@{
    ViewData["Title"] = "Коды восстановления";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Сохраните эти коды в безопасном месте.</strong>
    </p>
    <p>
        Если вы потеряете устройство и не имеете кодов восстановления, вы утратите доступ к своей учетной записи.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @if (Model.RecoveryCodes != null)
        {
            @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
            {
                <code>@Model.RecoveryCodes[row]</code>

                <text>&nbsp;</text>

                <code>@Model.RecoveryCodes[row + 1]</code>

                <br />
            }
        }
    </div>
</div>
