@{
    ViewData["Title"] = "Заблокировано";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Этот аккаунт заблокирован, пожалуйста, попробуйте снова позже.</p>
</header>